<footer class="footer">
  <small>
    The <a href="http://www.railsrurorial.org/">Ruby on Rails Rurotial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.ort">News</a></li>
    </ul>
  </nav>
</footer>